<article class="news-post">
  <a href="{{ .Permalink }}" class="clearfix">
    <div class="col-md-4" id='news-carousel' style="height: 350px; background-size: contain; background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
		<div class="divider-post"></div>
		<div class="detail col-md-8">
      <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      <h2 class="title">{{ .Title }}</h2>
      <div class="summary">{{ .Description }}</div>
    </div>
  </a>
</article>
