<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-fig mobile-footer content-footer">

        <p>&copy;2016 | INSULA DESIGN STUDIO</p>      </div>
              <div class="footer-fig arw">
          <a href="#next" id="go" class="arrow" data-scrollify-event="panel:next"><i class="fa fa-angle-down animated custbounce"></i></a>
        </div>
                <div class="footer-fig mobile-footer content-footer foo-right">
         <p>&copy;EST. 2016</p>        </div>
    </div>
  </div>
</div>
