<script type='text/javascript' src='{{ .Site.BaseURL }}javascripts/vendor/modernizr.js'></script>
<script type='text/javascript' src='{{ .Site.BaseURL }}javascripts/awesome-ideas-vendor.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.js?ver=1.6.2'></script>
<script type='text/javascript' src='{{ .Site.BaseURL }}javascripts/plugins.js'></script>

<script type='text/javascript' src='{{ .Site.BaseURL }}javascripts/awesome-ideas-main.js'></script>
<script type='text/javascript' src='{{ .Site.BaseURL }}javascripts/awesome-ideas-myCustom.js'></script>
