<base href="http://localhost:1313/" />
<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.jpg" type="image/png" sizes="16x16">
<title>INSULA | Digital Studio – Crafting Digital Experiences</title>

{{ partial "stylesheets" }}

{{ partial "head_js" }}

<link rel="canonical" href="https://www.insuladigitalstudio.com/" />
<link rel='shortlink' href='https://www.insuladigitalstudio.com/' />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
