<div class="header demo_one">
  <div class="container">
    <div class="row">
      <div class="logo-container" data-menuanchor="mainPage">
        <a href="https://www.insuladigitalstudio.com/" class="main-logo">
        <img src="{{ .Site.BaseURL }}images/insula_logo_text_black.png" alt="image" class="ilogo dark-logo">
        <img src="{{ .Site.BaseURL }}images/insula_logo_text_white.png" alt="image" class="ilogo light-logo">
        <img src="{{ .Site.BaseURL }}images/insula_logo_text_black.png" alt="image" class="mobile-logo">
        </a>
      </div>
    </div>
  </div>
</div>
