<section class="section wrapper dark_logo_section  post-361 page type-page status-publish hentry" data-role="column" data-section-name="our-works" data-anchor="homepage_section_361">
	<div id="page-361" class="static-overlay"></div>
	<div class="container page-wrapper-361">
		<div class="row">
			<!---div class="fp-tableCell"--->
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-7">
					{{ range .Content.Post }}
						{{ .Render "list"}}
					{{ end }}
					{{ range .Data.Pages }}
						{{ .Render "post"}}
					{{ end }}
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-5">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="contact-figc">
								<h3 style="color:#3d4348;font-size:140px">Our works</h3>
								<h5 style="color:;font-size:30px">best of our protfolio</h5>
								<p>Our work reflect our personality. These are some of the work that we are most proud of.</p>
								<div class="button-works box bg-2">
									<button class="button button--moema button--border-thick button--size-s">View More</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---/div---->
		</div>
	</div>
</section>
