<section class="section wrapper dark_logo_section  post-675 page type-page status-publish hentry" data-role="column" data-section-name="join-team" data-anchor="homepage_section_675">
	<div id="page-675" class="static-overlay"></div>
	<div class="container page-wrapper-675">
		<div class="row">
			<!---div class="fp-tableCell"--->
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-5">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="wpb_single_image wpb_content_element vc_align_left   jointeam">
								<!-- Calendly inline widget begin -->
								<div class="calendly-inline-widget" data-url="https://calendly.com/enzovezzaro/30min" style="min-width:320px;height:500px;"></div>
								<script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
								<!-- Calendly inline widget end -->
								<!-- <figure class="wpb_wrapper vc_figure">
									<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="280" src="{{ .Site.BaseURL }}images/Cloud-Computing1.jpg" class="vc_single_image-img attachment-medium" alt="cloud-computing1 -1 " srcset="{{ .Site.BaseURL }}images/Cloud-Computing1.jpg 300w, {{ .Site.BaseURL }}images/Cloud-Computing1.jpg 250w, {{ .Site.BaseURL }}images/Cloud-Computing1.jpg 562w" sizes="(max-width: 300px) 100vw, 300px" /></div>
									</figure> -->
							</div>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-7">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="contact-figc">
								<h3 style="color:">Work with us</h3>
								<h5 style="color:">and experiance the world class working environment</h5>
								<p>Have a project to take on? Need our experienced team to take your brand to the next level? or just want to say HI to the team?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper"></div>
					</div>
				</div>
			</div>
			<!---/div---->
		</div>
	</div>
</section>
