<section class="section wrapper light_logo_section  post-292 page type-page status-publish hentry" data-role="column" data-section-name="services-3" data-anchor="homepage_section_292">
	<div id="page-292" class="static-overlay"></div>
	<div class="container page-wrapper-292">
		<div class="row">
			<!---div class="fp-tableCell"--->
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-6">
					<div class="parallax-container seccion3" style=''>
						<div class="parallax-layer" id="juice" style="">
								<img src="images/juice.png" alt="" style="" />
						</div>
						<div class="parallax-layer" id='food'style="">
								<img src="images/food.png" alt="" style="width: 70%;"/>
						</div>
						<div class="parallax-layer" id="camera" style="">
								<img src="images/camera.png" alt="" style="width: 70%;"/>
						</div>
						<div class="parallax-layer" id="headphone" style="">
								<img src="images/headphone.png" alt="" style="width: 70%;" />
						</div>
						<div class="parallax-layer" id="glasses" style="">
								<img src="images/glasses.png" alt="" style=""/>
						</div>
						<div class="parallax-layer" id="laptop" style="">
								<img src="images/laptop-1.png" alt="" style=""/>
						</div>
					</div>
				</div>
				<div class="wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<section data-role="column">
								<div class="service-figcaption">
									<h3 style="color:#ffffff;font-size:140px" class="service_title page-title-292">Service</h3>
									<h5 style="color:;font-size:30px" class="service_sub">We provide avanguard services to make your business shine!</h5>
									<div class="service_wrap clearfix">
										<div class="service-cnctfigcaption">
											<h6 class="service_post_heading">Branding</h6>
											<p class="service_post_content">We provide the tools to make your brand being successful.</p>
										</div>
										<div class="service-cnctfig">
											<img src="{{ .Site.BaseURL }}images/branding_logo.png">
										</div>
									</div>
									<div class="service_wrap clearfix">
										<div class="service-cnctfigcaption">
											<h6 class="service_post_heading">Digital Strategy</h6>
											<p class="service_post_content">It's all about strategy. How you play is key.</p>
										</div>
										<div class="service-cnctfig">
											<img src="{{ .Site.BaseURL }}images/unnamed-file.png">
										</div>
									</div>
									<a href="service-template" class="work-btn btn btn-orange">View More</a>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
			<!---/div---->
		</div>
	</div>
</section>
