<section class="section wrapper light_logo_section  post-504 page type-page status-publish hentry" data-role="column" data-section-name="ideas-blog-template" data-anchor="homepage_section_504">
	<div id="page-504" class="static-overlay"></div>
	<div class="container page-wrapper-504">
		<div class="row">
			<!---div class="fp-tableCell"--->
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-6">

				</div>
				<div class="wpb_column vc_column_container vc_col-sm-6">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="contact-figc">
								<h3 style="color:#ffffff;font-size:140px">Blog</h3>
								<h5 style="color:#ffffff;font-size:30px">descubre nuestro blog</h5>
								<p></p>
							</div>
							<div class="wpb_raw_code wpb_content_element wpb_raw_html">
								<div class="wpb_wrapper">
									<a href="https://www.insuladigitalstudio.com/blog/" class="work-btn btn btn-orange">see BLOG</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper"></div>
					</div>
				</div>
			</div>
			<!---/div---->
		</div>
	</div>
</section>
