<section class="section wrapper dark_logo_section  post-1089 page type-page status-publish hentry" data-role="column" data-section-name="we-are" data-anchor="homepage_section_1089">
	<div id="page-1089" class="static-overlay"></div>
		<div class="container page-wrapper-1089">
			<div class="wpb_column vc_column_container vc_col-sm-6">
				<div class="parallax-container seccion2" id="seccion2" style=''>
					<div class="parallax-layer" id="back-about" style="">
							<img src="images/back-about.png" alt="" style="position: relative; top: 55px"/>
					</div>
					<div class="parallax-layer" id="graphics_front" style="">
							<img src="images/graphics_front.png" alt="" style="" />
					</div>
				</div>
		  </div>
			<div class="wpb_column vc_column_container vc_col-sm-6">
				<h3 style="color:#3d4348;font-size:140px">We are IDS!</h3>
				<h5 style="color:;font-size:30px">We simply craft digital experiences!</h5>
				<p>We are a firm that specialize in creating and launching brands, as well as rebranding old ones. Our role as a branding agency is to create, plan and manage branding strategies for clients, promote businesses/organizations, and creating what we call &#8220;The Galaxy Around the Brand&#8221;.</p>
			</div>
		</div>
</section>
