<section class="section wrapper light_logo_section  post-527 page type-page status-publish hentry" data-role="column" data-section-name="revolution-home-page" data-anchor="homepage_section_527">
	<div id="page-527" class="static-overlay"></div>
	<div class="container page-wrapper-527">
		<div class="row">
			<!---div class="fp-tableCell"--->
			<div class="parallax-container" style='position: relative; top: -35vh;'>
				<div class="parallax-layer" style="top: 10vh; left: 10vw">
						<img src="images/text_back.png" alt="" style=""/>
				</div>
				<div class="parallax-layer" style="top: -10vh; left: 20vw">
						<img src="images/text_front.png" alt="" style="" />
				</div>
				<div class="parallax-layer" style="z-index: -1; width: 80%; height: 100%;">
						<img src="images/background.png" alt="" style=""/>
				</div>
			</div>
			<!-- END REVOLUTION SLIDER -->
			<!---/div---->
		</div>
	</div>
</section>
