<!DOCTYPE html>
<html lang="en">
	<head>
		{{ partial "head" }}
	</head>
	<body  class="home page page-id-369 page-template page-template-page-home page-template-page-home-php wpb-js-composer js-comp-ver-4.12 vc_responsive" id="allwrap">
		<div class="page-wrap">
			<div class=" homep wrapper  clearfix " id="home-menu">
				<!-- Header -->
				{{ partial "header" }}
				<!-- Body -->
				{{ partial "seccion-1" }}
				{{ partial "seccion-2" }}
				{{ partial "seccion-3" }}
				{{ partial "seccion-4" }}
				{{ partial "seccion-5" }}
				{{ partial "seccion-6" }}
			</div>
		</div>
		<!-- footer -->
		{{ partial "footer"}}

		{{ partial "footer_js"}}
	</body>
</html>
